<%= form_for(@text) do |f| %>
  <% if @text.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2>There was an error.</h2>
      <ul>
      <% @text.errors.messages.each do |key,messages| %>
        <li><%= messages.join(" ") %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <% f.label :user_id %><br />
    <%= f.collection_select :user_id, User.all, :id, :name %>
  </div>

  <div class="field">
    <%# f.label :input %><br />
    <%= f.text_area :input,  :placeholder => "Type your text in here"  %>
  </div>
  <div class="actions">
      <%= f.submit("Create Picture", :class => "btn btn-primary") %>
  </div>
<% end %>


