<h1>Listing texts</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>USER</th>
      <th>INPUT</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<% @texts.each do |text| %>
  <tr>
    <td><%= text.user.name if text.user %></td>
    <td style="width:400px;display:block;"><%= text.input %></td>
    <td><i class="icon-stop"></i>&nbsp;<%= link_to 'Show', text %></td>
    <td><i class="icon-wrench"></i>&nbsp;<%= link_to 'Edit', edit_text_path(text) %></td>
    <td><i class="icon-trash"></i>&nbsp;<%= link_to 'Destroy', text, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= text.created_at.strftime("%d %b. %Y") %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Text', new_text_path %>

