<!DOCTYPE html>
<html>
<head>
  <title>TextToSquares</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h4 style="text-align:right"> You are logged in as <%= current_user.name.capitalize if current_user != nil %>.</h4>
    <%= yield %>
  </div>
<hr>
  <%= params.inspect if Rails.env.development? %>
</body>
</html>
