<!DOCTYPE html>
<html>
<head>
  <title>TextToSquares</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <div id="user_nav">
      <% if current_user %>
        Welcome <%= current_user.screen_name %>! ||
        <%= link_to "Logout", logout_path %>
      <% else %>
        <p>
        <a href='/auth/twitter'> <img src="/sign-in-with-twitter-gray.png" alt="twitter button" > </a>
        </p>
       <% end %>
  </div>

    <%= yield %>
  </div>

  <%= params.inspect if Rails.env.development? %>
</body>
</html>
