<!DOCTYPE html>
<html>
<head>
  <title>TextToSquares</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% flash.each do |name, msg | %>
      <div class="alert alert-<%= name == :notice ? "success" : "error"%>" >
        <a href="#" class="close" data-dismiss="alert">×</a>
<!--         <button type="button" class="close" data-dismiss="alert">×</button>
 -->        <%= msg %>
      </div>
    <% end %>
    <div id="user_nav">
      <% if current_user %>
        Welcome <%= current_user.name %>! ||
        <%= link_to "Logout", logout_path %>
      <% else %>
        <p>
        <a href='/auth/twitter'> <img src="/sign-in-with-twitter-gray.png" alt="twitter button" > </a>
        </p>
       <% end %>
  </div>

    <%= yield %>
  </div>
<hr>
  <%= params.inspect if Rails.env.development? %>
</body>
</html>
